@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes border-rotate-master {
    0% { border-color: #fada4a; }
    50% { border-color: #ebc51e; }
    100% { border-color: #fada4a; }
  }

  @keyframes border-rotate-king {
    0% { border-color: #33b6c6; }
    50% { border-color: #258592; }
    100% { border-color: #33b6c6; }
  }

  @keyframes border-rotate-legend {
    0% { border-color: #4bbd56; }
    50% { border-color: #54cf60; }
    100% { border-color: #4bbd56; }
  }

  @keyframes bg-spin {
    to { --border-angle: 1turn; }
  }

  .border-animate-master {
    animation: border-rotate-master 2s linear infinite;
  }

  .border-animate-king {
    animation: border-rotate-king 2s linear infinite;
  }

  .border-animate-legend {
    animation: border-rotate-legend 2s linear infinite;
  }

  .border-animate-saint {
    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle), rgb(246, 243, 246), rgb(243 244 246) 5%, rgb(243 244 246) 60%, rgb(243 244 246) 95%);
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #875aad, #7529b3 99%, transparent);
    background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
    background-position: center center;
    animation: bg-spin 3s linear infinite;
  }

  .border-animate-god {
    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle), rgb(246, 243, 246), rgb(243 244 246) 5%, rgb(243 244 246) 60%, rgb(243 244 246) 95%);
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #d6579f, #e4218f 99%, transparent);
    background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
    background-position: center center;
    animation: bg-spin  3s linear infinite;
  }

  @property --border-angle {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0turn;
  }

  .bg-dashboard {
    background-image: url('/public/background.jpg');
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
